body{
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(64,118,224,1) 0%, rgba(73,138,240,0.9248074229691877) 43%, rgba(0,125,255,1) 100%);
  
  }

.container {
  background: transparent;
  width: 90%;
  height: 30%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(201, 186, 186, 0.205); 
  margin-left: 20px;
  color:#ffff;

}
.container img{
  position: absolute;
  margin-left: 59%;
  border-radius: 5px;
  margin-top: 3%;
}

.container h1{
  margin-top: -8px;
}

.descripcion {
  margin-top: 15px;
  letter-spacing: .1em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#ffff;
 }

.redes{
  margin: 15px;
  align-items: justify;
  margin-top: 15px;
  letter-spacing: .2em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#ffff;
  
}

.table {
  margin-top: 15px;
  letter-spacing: .2em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#ffff;
  
}
.descripcion  img{
  border-radius: 5px;
  margin-top: 3px;
}

.descripcion li{
  margin-top: 5px;
}

strong{
  margin-top: 10px;
}