body{
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(11,0,193);
    background: linear-gradient(90deg, rgb(30, 22, 192) 0%, rgba(55,55,231,1) 48%, rgba(0,125,255,1) 100%);
  }

.container {
  background: transparent;
  width: 90%;
  height: 30%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(201, 186, 186, 0.205); 
  margin-left: 20px;
  color:#dabebe;
  background: linear-gradient(90deg, rgb(43, 22, 235) 0%, rgb(46, 105, 231) 49%, rgb(14, 131, 170) 100%);

}
.container img{
  position: absolute;
  margin-left: 59%;
  border-radius: 5px;
  margin-top: 3%;
}

.container h1{
  margin-top: -8px;
}

.descripcion {
  margin-top: 15px;
  letter-spacing: .2em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#dabebe;
  background: linear-gradient(90deg, rgb(43, 22, 235) 0%, rgb(46, 105, 231) 49%, rgb(14, 131, 170) 100%);
}

.redes{
  margin: 15px;
  align-items: justify;
  margin-top: 15px;
  letter-spacing: .2em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#dabebe;
  background: linear-gradient(90deg, rgb(43, 22, 235) 0%, rgb(46, 105, 231) 49%, rgb(14, 131, 170) 100%);
}

.table {
  margin-top: 15px;
  letter-spacing: .2em;
  background: transparent;
  background-color:  #afafd428;
  width: 90%;
  box-shadow: #7e7979 ;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 3px rgba(158, 149, 149, 0.205); 
  margin-left: 20px;
  color:#dabebe;
  background: linear-gradient(90deg, rgb(43, 22, 235) 0%, rgb(46, 105, 231) 49%, rgb(14, 131, 170) 100%);
}
.descripcion  img{
  border-radius: 5px;
  margin-top: 3px;
}

.descripcion li{
  margin-top: 5px;
}

strong{
  margin-top: 10px;
}